

<div class="loading hidden" style="display: none; position: fixed;">Loading...</div>
<div class="box">
  <section class="hero backgroud" style="background: none; border: none; box-shadow: none;">

    <div class="row container">
      <div class="large-9 small-12 medium-9 columns large-centered">
        <h1 style="color:#255255">Search Your Url!</h1>
        <div class="row fullWidth">

        </div>


        <div class="row">

          <div class="left column large-12 small-12 medium-12">
            <div class="row collapse">
              <div class="small-9 large-9 medium-9 columns">
                <input class="domainbox animated left large-11 bounceInDown search-box" type="text" spellcheck="false" placeholder="Enter the Domain Name" maxlength="65" value="" style="display: block;">

              </div>


              <div class="small-3 large-3 medium-3 columns">
                <button class="button postfix search " id="search">
                  <div class="searchicon"></div>
                </button>
              </div>


            </div>


          </div>

        </div>
      </div>
    </div>

  </section>

  <!-- Second Row  ---------->



  <div class="left column large-12 small-12 medium-12 domainresults ">
    <div class="row">
      <div class="column  large-12 margin-top hidden" id="dvData" >
         <!--<button id="export_csv" class="button right">Download CSV</button>-->
         <%= button_to 'Download CSV',export_csv_file_path(format: "csv") ,:method => :post,:form_class => "csv_form right"  %>
        <table class="large-12 result_table">
          <thead>

          <tr>
            <th class='middle-fit bolder'>TYPE </th>
            <th  class='middle-fit bolder'>TITLE </th>
            <th  class='middle-fit bolder'>PRICE </th>
          </tr>
          </thead>
          <tbody id="cars-details-container">
          </tbody>
        </table>
      </div>
    </div>
  </div>

    </div>
   </div>