<!DOCTYPE html>
<html>
  <head>
    <title>CarsAtYallah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div data-alert class="alert-box">
  </div>
    <%= yield %>
  </body>
</html>
